requests
allure-behave==2.8.16
allure-pytest==2.8.16
allure-python-commons==2.8.16
attrs==19.3.0
behave==1.2.6
et-xmlfile==1.0.1
importlib-metadata==1.7.0
jdcal==1.4.1
more-itertools==8.4.0
openpyxl==3.0.4
packaging==20.4
parse==1.15.0
parse-type==0.5.2
pdoc3==0.8.4
Pillow==9.3.0
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==5.4.3
selenium==3.141.0
six==1.15.0
unittest-xml-reporting==3.0.2
urllib3==1.25.9
wcwidth==0.2.5
zipp==3.1.0
